auto lo
iface lo inet loopback

auto nic0
iface nic0 inet manual

iface nic1 inet manual

iface nic2 inet manual

auto vmbr0
iface vmbr0 inet manual
	bridge-ports nic0
	bridge-stp off
	bridge-fd 0
	bridge-vlan-aware yes
	bridge-vids 2-4094

auto vmbr1
iface vmbr1 inet manual
	bridge-ports nic1
	bridge-stp off
	bridge-fd 0

auto vmbr2
iface vmbr2 inet manual
	bridge-ports nic2
	bridge-stp off
	bridge-fd 0
	bridge-vlan-aware yes
	bridge-vids 2-4094

auto vmbr0.1
iface vmbr0.1 inet manual
#LAN

auto vmbr0.2
iface vmbr0.2 inet manual

auto vmbr0.25
iface vmbr0.25 inet static
	address 10.25.25.250/24
	gateway 10.25.25.1

source /etc/network/interfaces.d/*
